<form method="post" action="/potlucks/{{pot}}/join">
    <div>
        <label>You should bring something:</label>
        <input type="text" name="bring" />
    </div>
    <input class="login" type="submit" value="join!" />
</form>
