
<div class="registration">
    <div class = logining>
        <form method="post" action="/logined">
            <div>
                <label>Email:</label>
                <input type="text" name="email" />
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password" />
            </div>
            <div>
                <input class="login" type="submit" value="Log In" />
            </div>
        </form>
    </div>
</div>
